@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import "tailwindcss";

:root {
  /* colors */
  

  --green-cta:        #1A5319;
  --green-dark:       #092008;
  --green-light:      #DDEDDE;
  --green-medium:     #BAD8B6;
  --green-flashs:     #37B235;
  --orange-flash:     #FAA13C;
  --brun:             #7A4E1D;
  --grey-src:         #505050;

  

  /* linear-gradient */
  --gradient-top:     #84A178;
  --gradient-middle:  #BAD8B6;
  --gradient-bottom:  #DCE35B;

  /* Google fonts */
  --lato: 'Lato', sans-serif;
  --EB-Garamond: 'EB Garamond', serif;
}

@theme inline {

  /* Colors */
  --color-amber:        oklch(75% 0.18 95);
  --color-terracotta:   oklch(58.17% 0.1779 20.78);
  --color-plum:         oklch(43.80% 0.1599 337.83);
  --color-plum-dark:    oklch(33.80% 0.1599 337.83);
  --color-charcoal:     oklch(25% 0.02 250);
  --color-off-white:    oklch(98% 0 250);
  --color-stone:        oklch(70% 0.02 250);

  --color-cloudy:       oklch(96.42% 0 0);
  --color-dirtyWhite:   oklch(95.81% 0 0);
  --color-grayLite:     oklch(93.97% 0 0);
  --color-rainy:        oklch(90.37% 0 0);
  --color-rainstorm:    oklch(84.52% 0 0);
  --color-stormy:       oklch(68.30% 0 0);
  --color-tornado:      oklch(51.03% 0 0);
  --color-hurricane:	  oklch(38.29% 0 0);
  --color-twilight:     oklch(32.11% 0 0);
  --color-White30:      oklch(100% 0 0 / 0.3);
  --color-White70:      oklch(100% 0 0 / 0.7);
  --color-black30:      oklch(0% 0 0 / 0.3);
      
  --color-graySoft:     oklch(73.56% 0.0011 17.18);
  --color-grayDark:     oklch(33.29% 0 0);
  --color-grayBlack:    oklch(28.91% 0 0);

  /* Semantic class */
  --color-cta:            var(--color-amber);
  --color-title:          var(--color-terracotta);
  --color-subTitle:       var(--color-plum);
  --color-mainText:       var(--color-charcoal);
  --color-secondaryText:  var(--color-stone);
  /* Linear-Gradient */
  --color-gradient-0:     var(--color-terracotta);
  --color-gradient-100:   var(--color-plum);

  /* Google fonts */
  --font-lato:        'Lato', sans-serif;
  --font-EB-Garamond: 'EB Garamond', serif;
  
}

@utility lato {
  @apply font-lato font-[400] not-italic;
}

@utility eb-garamond {
  @apply font-EB-Garamond font-[700] not-italic;
  font-optical-sizing: auto;  
}

a img { border: 0; }
img { display: block; }

html {  
    @apply w-full h-full;
}

body {
  @apply lato text-mainText w-screen h-screen;
  background: linear-gradient(90deg, var(--color-gradient-0) 0%, var(--color-gradient-100) 100%);
}

@layer base {
  p {
    @apply text-mainText;
  }

  a {
    @apply text-black30
  }

  h1 {
    @apply eb-garamond text-8xl leading-normal text-cta;
  }
  h2 {
    @apply eb-garamond text-5xl leading-normal text-cta;
  }
  h3 {
    @apply eb-garamond text-4xl leading-normal text-cta;
  }
}
